{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "all",
  "printWidth": 130,
  "arrowParens": "always",
  "endOfLine": "lf"
}
